<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form" action="register" method="POST">{% csrf_token %}
					{% for message in messages %}
                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
            		{% endfor %} 
					<span class="login100-form-title p-b-33">
						New Registration
					</span>
					<div class="wrap-input100 validate-input" data-validate = "Valid name is required">
						<input class="input100" type="text" name="name" placeholder="Name"  required >
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<br>
					<script type="text/javascript">
						function check()
						{
						var mobile = document.getElementById('mobile');
						var message = document.getElementById('message');
						var goodColor = "#0C6";
						var badColor = "#FF9B37";
						if(mobile.value.length!=10){
						mobile.style.backgroundColor = badColor;
						message.style.color = badColor;
						message.innerHTML = "required 10 digits, match requested format!"
						}
						}
					</script>
					<div class="wrap-input100 validate-input" data-validate = "Valid number is required">
						<input class="input100" type="text" name="mob" placeholder="Mobile number" required pattern="[1-9]{1}[0-9]{9}">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<br>
					<div class="wrap-input100 validate-input" data-validate = "Valid number is required">
						<input class="input100" type="text" name="land" placeholder="Land line" pattern="[1-9]{1}[0-9]{9}" >
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<br>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="email" name="email" placeholder="Email" required>
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<br>
					<div>
					<br>
					Select department:&nbsp
					<select name="dpt" id="dep">
					{% for r in depkey %}
					  <option value={{r.deptid}}>{{r.dep}}</option>
					{% endfor %}
					</select>
					<div>
						<br>
						Select designation type:&nbsp
						<select name="type" id="type">
						  {% for r in staffkey %}
						  <option value={{r.staffid}}>{{r.stafftype}}</option>
						  {% endfor %}
						</select>
					</br>
					</div>
					<div>
					<br>
						<input type="radio" value="1" name="status" checked >  I am a Current Staff 	&nbsp
						<input type="radio" value="0" name="status">  I am a Retired Staff
					</br>
					</div>
					<br>
					<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="pass" placeholder="Create Password" minlength="3">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<br>
					<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="pass1" placeholder="Confirm Password" minlength="3">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<br>
					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn">
							Register
						</button>
					</div>
					<br>
                    <div class="text-center">
						<span class="txt1">
							Already have an account?
						</span>

						<a href="login" class="txt2 hov1">
							Sign in
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	


<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>